/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: $disabled-color; /* Fallback color */
    background-color: $disabled-opacity-color; /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: $bg-color;
    padding: 20px;
    border: 1px solid $divider-color;
    width: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;

}