.button {
	background-color: $primary-color;
	border: none;
	color: $primary-color-text;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;

	.disabled {
    	opacity: 0.6;
    	cursor: not-allowed;
	}

	.full-width {
		width: 100%;
	}

}

